@page "/UserList"

<span class="border-lable-right">
    <div class="card-header">
        <fieldset>
            <td class="align-middle">

                <a href="/AddUser" class="btn btn-success">
                    <i class="fas fa-info-circle"></i>
                    کاربر جدید
                </a>
            </td>
        </fieldset>
    </div>
</span>
@if (User.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">نام کاربر</th>
                <th scope="col">کد ملی</th>
                <th scope="col">سمت</th>
                <th scope="col">موبایل</th>
                <th scope="col">نام کاربری</th>
                <th scope="col">ویرایش</th>
                <th scope="col">حذف</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in User)
            {
                <tr>
                    <td class="align-middle">
                        @user.UserFullName
                    </td>
                    <td class="align-middle">
                        @user.NationalCode
                    </td>
                    <td class="align-middle">
                        $@user.RoleTitle
                    </td>
                    <td class="align-middle">
                        $@user.Mobile
                    </td>
                    <td class="align-middle">
                        $@user.UserName
                    </td>
                    <td class="align-middle">
                        <a href="@($"UpdateUser/{user.Id}")" class="btn btn-info">ویرایش</a>
                    </td>
                    <td class="align-middle">
                        <a href="@($"DeleteUser/{user.Id}")" class="btn btn-danger">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span>
        در حال بارگزاری...
    </span>
}







